<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>crm 系统</title>
</head>

<body>

<br />
<h1 style="text-align: center;width:100%;">CRM管理系统</h1>
<br />
<h1 style="text-align: center;width:100%;">账号信息管理</h1>
<br />
<br />
<div class='text1' style="text-align: center">
<button class="btn" th:onclick="window.location.href='index'">回到首页
</button>
</div>
<hr />
<br />
<br />
<br />
<div class='text1' style="text-align: center">
<table style="text-align: center;margin: auto" border="3">
<tr>
    <td>姓名</td>
    <td>ID</td>
    <td>权限</td>
    <td>操作</td>

</tr>

<tr th:each="user:${userList}">
    <td th:text="${user.userName}"></td>
    <td th:text="${user.Id}"></td>
    <td th:text="${user.rightLevel}"></td>
    <td>
<!--        <button th:onclike=editUserInfo("${user.Id}") >提交</button>-->
        <button class="btn" th:onclick="window.location.href='editUserInfo?Id='+[[${user.Id}]]">修改该用户</button>
    </td>
</tr>
</table>
</div>

<div class='text1' style="text-align: center">
<button class="btn" th:onclick="window.location.href='addNewUserShow'">新增用户</button>
</div>


</body>
</html>