<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>crm 系统</title>
</head>

<script src="./js/jQuery.js"></script>
<script src="./js/editUserInfo.js"></script>

<body bgcolor="#F0FFFF" >
<!--<body bgcolor="#F0FFFF" background="../static/pic/head_logol.jpg">-->
<!--<h2 style="text-align: center;width:100%;">CRM管理系统</h2>-->

<!--<div class='text1' style="text-align: center; background:url(./pic/head.jpg); height:210px; width:100%; background-size:cover; background-repeat:no-repeat;">-->
<div class='text1' style="text-align: center;">
    <font size="7" style="text-align: center;width:100%;">新增客户信息</font>
    </br>
    <button class="btn" style='font-size:20px' th:onclick="window.location.href='index'">回到首页</button>
</div>
<hr />
<!--<div class='text1' style="text-align: center">-->
    <!-- 表单提交用户信息,注意字段的设置,直接是*{} -->
    <form action="#" th:action="@{/addNewCustomer}" th:object="${customer}" method="post" onSubmit="return checkUpdateUser()">
        <div id="left1" style="background-color:#F0F8FF;height:800px;width:30%;float:left;">
        </div>
        <div id="left" style="background-color:#F0F8FF;height:800px;width:15%;float:left;">
            <div> <font size="6">名&nbsp;&nbsp;&nbsp;&nbsp;称: </font><input type="text" th:field="*{name}"/></div>
            <br />
            <div><font size="6">联系人: </font><input type="text" th:field="*{linkMan}" /></div>
            <br />
            <div><font size="6">地&nbsp;&nbsp;&nbsp;&nbsp;区: </font><input type="text" th:field="*{district}" /></div>
            <br/>
            <br/>
            <div>
                <font size="6">客户归属: </font>
                <select th:field="*{customerBelong}">
                    <option th:each="obj:${pageListMapUtil.customerBelongList}"
                            th:selected="${customerBelong eq obj}"
                            th:value="${obj}"
                            th:text="${obj}" >
                    </option>
                </select>
            </div>
            <br/>
            <br/>
            <div>
                <font size="6">合作状态: </font>
                <select th:field="*{cooperationStatus}">
                    <option th:each="obj:${pageListMapUtil.cooperationStatusList}"
                            th:selected="${cooperationStatus eq obj}"
                            th:value="${obj}"
                            th:text="${obj}" >
                    </option>
                </select>
            </div>
            <br/>
            <br/>
            <div>
                <font size="6">业务类型: </font>
                <select th:field="*{serviceType}">
                    <option th:each="obj:${pageListMapUtil.serviceTypeList}"
                            th:selected="${serviceType eq obj}"
                            th:value="${obj}"
                            th:text="${obj}" >
                    </option>
                </select>
            </div>
        </div>
        <div id="left4" style="background-color:#F0F8FF;height:800px;width:15%;float:left;">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <input  style='font-size:20px' type="submit" value="添加新客户" />
        </div>
        <div id="middle" style="background-color:#F0F8FF;height:800px;width:25%;float:left;">
            <div><font size="6">邮  箱: </font><input type="text" th:field="*{email}"/>  </div>
            <br />
            <div><font size="6">手  机: </font><input type="text" th:field="*{phoneNumber}"/>  </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div>
                <font size="6">客户类型: </font>
                <select th:field="*{customerType}">
                    <option th:each="obj:${pageListMapUtil.customerTypeList}"
                            th:selected="${customerType eq obj}"
                            th:value="${obj}"
                            th:text="${obj}" >
                    </option>
                </select>
            </div>
            <br/>
            <br/>
            <div>
                <font size="6">行&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业: </font>
                <select th:field="*{business}">
                    <option th:each="obj:${pageListMapUtil.businessList}"
                            th:selected="${business eq obj}"
                            th:value="${obj}"
                            th:text="${obj}" >
                    </option>
                </select>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>

<!--        <div id="right" style="background-color:#F0F8FF;height:800px;width:30%;float:left;">-->
<!--            <img src="./pic/head_logol.jpg">-->
<!--        </div>-->
        <div id="left5" style="background-color:#F0F8FF;height:800px;width:15%;float:left;">
        </div>

</form>

</body>
</html>