<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>crm 系统</title>
</head>

<script src="./js/jQuery.js"></script>
<script src="./js/editUserInfo.js"></script>

<body>

<br />
<h1 style="text-align: center;width:100%;">CRM管理系统</h1>
<br />
<h1 style="text-align: center;width:100%;">新增订单信息</h1>
<br />
<br />
<div class='text1' style="text-align: center">
<button class="btn" th:onclick="window.location.href='index'">回到首页</button>
</div>
<hr />
<br />
<br />
<br />
<div class='text1' style="text-align: center">
    <!-- 表单提交用户信息,注意字段的设置,直接是*{} -->
    <form action="#" th:action="@{/addNewOrder}" th:object="${orderCustomer}"  method="post" onSubmit="return checkUpdateUser()">
        <div><span>订单编号</span><input type="text" th:field="${orderCustomer.order.orderNumber}" /> </div>
        <div><span>订单名称</span><input type="text" th:field="${orderCustomer.order.orderName}" /> </div>
        <div><span>下单日期</span><input type="date" th:field="${orderCustomer.order.orderDate}"/>  </div>
<!--        <div><span>下单日期</span><input type="text" th:field="*{order.orderDate}" th:text="${#dates.format(new java.util.Date().getTime(),'yyyy-MM-dd hh:mm:ss')}"/>  </div>-->
<!--        <div><span>客户名称</span><input type="text" th:field="*{customer.name}"/>  </div>-->
<!--        <div><span>联系人</span><input type="text" th:field="*{customer.linkMan}"/>  </div>-->
<!--        <div><span>邮箱</span><input type="text" th:field="*{customer.email}"/>  </div>-->
        <div><span>服务项目</span><input type="text" th:field="${orderCustomer.order.serviceProject}" />  </div>
        <div><span>收费</span><input type="text" th:field="${orderCustomer.order.charge}" />  </div>
        <div><span>到款情况</span><input type="text" th:field="${orderCustomer.order.moneySituation}" />  </div>
        <div><span>服务状态</span><input type="text" th:field="${orderCustomer.order.serviceStatus}" />  </div>
<!--        <div> <button class="btn" th:onclick="window.location.href='addRelatedCustomer?orderCustomer='+orderCustomer">关联客户</button> </div>-->

        <input type="submit" value="确认添加新订单" />
</form>
<!--    <div> <button class="btn" th:onclick="window.location.href='addRelatedCustomer?orderCustomer='+orderCustomer">关联客户</button> </div>-->

</div>

</body>
</html>