<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>crm 系统</title>
    <link href="./css/commonCss.css" rel="stylesheet" type="text/css">
</head>

<body>

<br />
<h1 style="text-align: center;width:100%;">CRM管理系统</h1>
<br />
<h1 style="text-align: center;width:100%;">客户信息管理系统</h1>
<br />
<br />
<div class='text1' style="text-align: center">
<button class="btn" th:onclick="window.location.href='index'">回到首页</button>
</div>
<hr />
<br />
<br />
<br />

<form action="#" th:action="@{/findOneCustomer}" th:object="${utilVO}" method="post">
    <input type="text" th:field="*{message}"/>
    <input type="submit" value="搜索相关客户" />
</form>

<table style="text-align: center;margin: auto" border="3">
<tr>
<!--    <td>ID</td>-->
    <td>行业</td>
    <td>客户名称</td>
    <td>联系人</td>
    <td>手机</td>
    <td>邮箱</td>
    <td>地区</td>
    <td>合作情况</td>
    <td>客户归属</td>
    <td>客户类型</td>
    <td>业务类型</td>
    <td>跟进记录</td>
<!--    <td>操作</td>-->
    <td>操作</td>

</tr>

    <tr th:each="customer:${customerList}">
<!--        <td type="hidden" th:text="${customer.customerId}"></td>-->
        <td th:text="${customer.business}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.linkMan}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.district}"></td>
        <td th:text="${customer.cooperationStatus}"></td>
        <td th:text="${customer.customerBelong}"></td>
        <td th:text="${customer.customerType}"></td>
        <td th:text="${customer.serviceType}"></td>
        <td class="label" th:text="${customer.followRecord}"></td>

        <td>
            <button class="view" th:onclick="window.location.href='viewCustomerInfo?customerId='+[[${customer.customerId}]]">浏览该客户信息</button>
        </td>
    </tr>
</table>
<div class='text1' style="text-align: center">
<button class="btn" th:onclick="window.location.href='addNewCustomerShow'">新建用户</button>
</div>


</body>
</html>