<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>crm 系统</title>
</head>

<script src="./js/jQuery.js"></script>
<script src="./js/editUserInfo.js"></script>

<body bgcolor="#F0FFFF" >
<div class='text1' style="text-align: center;">
    <font size="7" style="text-align: center;width:100%;">订单信息修改</font>
    </br>
    <button class="btn" style='font-size:20px' th:onclick="window.location.href='index'">回到首页</button>
</div>

<hr/>

    <form action="#" th:action="@{/updateOrder}" th:object="${orderCustomer}" method="post">
        <div id="left1" style="background-color:#F0F8FF;height:900px;width:30%;float:left;">
        </div>
        <div id="left" style="background-color:#F0F8FF;height:900px;width:20%;float:left;">
            <div><font size="6">订单编号</font><input type="text" readonly="true" th:field="${orderCustomer.order.orderEncode}" /> </div>
            <input type="hidden" th:field="${orderCustomer.order.orderNumber}"/>
            <input type="hidden" th:field="${orderCustomer.order.orderId}"/>
            <input type="hidden" th:field="${orderCustomer.customer.customerId}"/>
            <br>
            <div><font size="6">客户名称</font><input type="text" readonly="true" th:field="${orderCustomer.customer.name}" /> </div>
            <br>
            <div><font size="6">联系人</font><input type="text" readonly="true" th:field="${orderCustomer.customer.linkMan}" /> </div>
            <br>
            <div>
                <font size="6">下单类型</font>
                <select th:field="${orderCustomer.order.orderType}">
                    <option th:each="obj:${pageListMapUtil.orderTypeList}"
                            th:selected="${orderCustomer.order.orderType eq obj}"
                            th:value="${obj}"
                            th:text="${obj}" >
                    </option>
                </select>
            </div>
            <br>
            <div>
                <font size="6">承接实验室</font>
                <select th:field="${orderCustomer.order.receiveLabor}">
                    <option th:each="obj:${pageListMapUtil.receiveLaborList}"
                            th:selected="${orderCustomer.order.receiveLabor eq obj}"
                            th:value="${obj}"
                            th:text="${obj}" >
                    </option>
                </select>
            </div>
            <br>
            <div><font size="6">特殊要求或注意点</font><input type="text" th:field="${orderCustomer.order.specialRequest}" />  </div>
            <br>
            <div><font size="6">收费金额（含税）</font><input type="text" th:field="${orderCustomer.order.charge}" />  </div>
            <br>
            <div><font size="6">已到账金额</font><input type="text" th:field="${orderCustomer.order.accountCharge}" />  </div>
            <br>
            <div><font size="6">常化所成本</font><input type="text" th:field="${orderCustomer.order.CHCost}" />  </div>
            <br>
            <div><font size="6">委外成本</font><input type="text" th:field="${orderCustomer.order.WWCost}" />  </div>
            <br>
            <div><font size="6">销售负责人</font><input type="text" th:field="${orderCustomer.order.salePerson}" />  </div>
            <br>
            <div><font size="6">测试项目</font><input type="text" th:field="${orderCustomer.order.testProject}" />  </div>
            <br>
            <div>
                <font size="6">发票状态</font>
                <select th:field="${orderCustomer.order.ticketStatus}">
                    <option th:each="obj:${pageListMapUtil.ticketStatusList}"
                            th:selected="${orderCustomer.order.ticketStatus eq obj}"
                            th:value="${obj}"
                            th:text="${obj}" >
                    </option>
                </select>
            </div>
        </div>

        <div id="left4" style="background-color:#F0F8FF;height:900px;width:10%;float:left;">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <input style='font-size:20px' type="submit" value="确认修改此订单" />
            <br>
            <button style='font-size:20px' class="btn"
                    th:onclick="window.location.href='deleteCurrentOrder?order.orderId='+[[${orderCustomer.order.orderId}]]">删除该订单
            </button>
        </div>
        <div id="middle" style="background-color:#F0F8FF;height:900px;width:25%;float:left;">
            <div><font size="6">下单日期</font><input type="date" readonly="true" th:field="${orderCustomer.order.orderDate}"/>  </div>
            <br>
            <div><font size="6">报告邮箱</font><input type="text" readonly="true" th:field="${orderCustomer.customer.email}" /> </div>
            <br>
            <div><font size="6">联系电话</font><input type="text" readonly="true" th:field="${orderCustomer.customer.phoneNumber}" /> </div>
            <br>
            <div>
                <font size="6">业务类型</font>
                <select th:field="${orderCustomer.order.serviceType}">
                    <option th:each="obj:${pageListMapUtil.orderServiceTypeList}"
                            th:selected="${orderCustomer.order.serviceType eq obj}"
                            th:value="${obj}"
                            th:text="${obj}" >
                    </option>
                </select>
            </div>
            <br>
            <div>
                <font size="6">优惠条件</font>
                <select th:field="${orderCustomer.order.cheapCondition}">
                    <option th:each="obj:${pageListMapUtil.cheapConditionList}"
                            th:selected="${orderCustomer.order.cheapCondition eq obj}"
                            th:value="${obj}"
                            th:text="${obj}" >
                    </option>
                </select>
            </div>
            <br>
            <div><font size="6">其他说明</font><input type="text" th:field="${orderCustomer.order.otherRemark}" />  </div>
            <br>
            <div><font size="6">实际下单金额（含税）</font><input type="text" th:field="${orderCustomer.order.realCharge}" />  </div>
            <br>
            <div><font size="6">尾款</font><input type="text" th:field="${orderCustomer.order.tailCharge}" />  </div>
            <br>
            <div><font size="6">联泓成本</font><input type="text" th:field="${orderCustomer.order.LHCost}" />  </div>
            <br>
            <div>
                <font size="6">项目进展</font>
                <select th:field="${orderCustomer.order.projectProcess}">
                    <option th:each="obj:${pageListMapUtil.projectProcessList}"
                            th:selected="${orderCustomer.order.projectProcess eq obj}"
                            th:value="${obj}"
                            th:text="${obj}" >
                    </option>
                </select>
            </div>
            <br>
            <div><font size="6">样品名称</font><input type="text" th:field="${orderCustomer.order.exampleName}" />  </div>
            <br>
            <div><font size="6">负责工程师</font><input type="text" th:field="${orderCustomer.order.dutyProjector}" />  </div>

        </div>
        <div id="left5" style="background-color:#F0F8FF;height:900px;width:15%;float:left;">
        </div>

    </form>






</body>
</html>