<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>crm 系统</title>
</head>

<script resource="../static/js/a.js"></script>

<body>

<br />
<h1 style="text-align: center;width:100%;">CRM管理系统</h1>
<br />
<!--<div th:text="${session.rightLevel}"></div>-->
<br />
<br />
<hr />
<br />
<br />
<br />

<div class='text1'  style="text-align: center">
    <div th:if="${session.rightLevel}==0">
        <h2>账号信息管理	<input style="width:100px;height:30px" type="button" value="进入" onclick="window.location.href='accountShow'" /></h2>
    </div>
    <br/>
        <h2>客户管理系统	<input style="width:100px;height:30px" type="button" value="进入" onclick="window.location.href='customerSystemShow'"/></h2>
    <br/>
        <h2>订单管理系统	<input style="width:100px;height:30px" type="button" value="进入" onclick="window.location.href='orderSystemShow'" /></h2>
</div>

</body>
</html>