<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>crm 系统</title>
</head>

<script resource="../static/js/a.js"></script>

<body>

<br />
<h1 style="text-align: center;width:100%;">CRM管理系统</h1>
<br />

<br />
<br />
<hr />
<br />
<br />
<br />

<div class='text1'  style="text-align: center">
    <div th:if="${session.rightLevel}==1">

        <h2>账号信息管理	<input style="width:100px;height:30px" type="button" value="进入" onclick="window.location.href='account'" /></h2>
    </div>
    <br />
    学生课时录入	<input style="width:100px;height:30px" type="button" value="进入" onclick="window.location.href='getAllStudents.do'" />
    <br />
    学生信息修改	<input style="width:100px;height:30px" type="button" value="进入" onclick="window.location.href='updateStudentsInfo.do'" />
</div>


<!--    <p th:text="'hello, ' + ${name} + '!'" />-->
</body>
</html>