<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>crm 系统</title>
</head>

<script src="./js/jQuery.js"></script>
<script src="./js/login.js"></script>


<body>

<br />
<h1 style="text-align: center;width:100%;">CRM管理系统</h1>
<br />

<br />
<br />
<hr />
<br />
<br />
<!--获取session中的userName -->
<!--<div th:text="${session.userName}"></div> -->


<br />
<div th:if="${session.wrongMessage!=null&&session.wrongMessage!=''}">
<input type="hidden" th:value="${session.wrongMessage}" id="wrongMessage">
<!--<input type="hidden" th:value="${message.wrongMessage}" id="wrongMessage">-->
</div>

<div class='text1' style="text-align: center">
    <!-- 表单提交用户信息,注意字段的设置,直接是*{} -->
    <form action="#" th:action="@{/userLogin}" th:object="${user}" method="post" onSubmit="return checkLogin()">
        <div><span>用户名</span><input type="text" th:field="*{userName}" />  <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span></div>
        <div><span>密码</span><input type="text" th:field="*{passWord}" />  <span th:if="${#fields.hasErrors('passWord')}" th:errors="*{passWord}"></span></div>
        <input type="submit" value="登陆" />
    </form>
</div>

</body>
</html>