<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>crm 系统</title>
</head>

<body>

<br />
<h1 style="text-align: center;width:100%;">CRM管理系统</h1>
<br />
<h1 style="text-align: center;width:100%;">订单信息管理系统</h1>
<br />
<br />
<hr />
<br />
<br />
<br />
<table style="text-align: center" border="3">
<tr>
    <td>ID</td>
    <td>订单编号</td>
    <td>下单日期</td>
    <td>客户名称</td>
    <td>联系人</td>
    <td>邮箱</td>
    <td>服务项目</td>
    <td>收费</td>
    <td>到款情况</td>
    <td>服务状态</td>

</tr>

    <tr th:each="orderCustomer:${orderCustomerList}">
<!--        <input type="hidden" th:field="${customer.id}" />-->
        <td type="hidden" th:text="${orderCustomer.orderDate}"></td>
        <td th:text="${orderCustomer.orderId}"></td>
        <td th:text="${orderCustomer.orderNumber}"></td>
        <td th:text="${orderCustomer.orderDate}"></td>
        <td th:text="${orderCustomer.name}"></td>
        <td th:text="${orderCustomer.linkMan}"></td>
        <td th:text="${orderCustomer.email}"></td>
        <td th:text="${orderCustomer.serviceProject}"></td>
        <td th:text="${orderCustomer.charge}"></td>
        <td th:text="${orderCustomer.moneySituation}"></td>
        <td th:text="${orderCustomer.serviceStatus}"></td>
        <td>
            <button class="btn" th:onclick="window.location.href='editCustomerInfo?Id='+[[${orderCustomer.Id}]]">修改该客户信息</button>
        </td>
    </tr>
</table>

<button class="btn" style="text-align: center" th:onclick="window.location.href='addNewCustomerShow'">新增用户</button>



</body>
</html>