<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>crm 系统</title>
</head>

<body>

<br />
<h1 style="text-align: center;width:100%;">CRM管理系统</h1>
<br />
<h1 style="text-align: center;width:100%;">订单信息管理系统</h1>
<br />
<br />
<div class='text1' style="text-align: center">
<button class="btn" th:onclick="window.location.href='index'">回到首页</button>
</div>
<hr />
<br />
<br />
<br />
<table style="text-align: center;margin: auto" border="3">
<tr>
    <td>订单编号</td>
    <td>下单日期</td>
    <td>客户名称</td>
    <td>联系人</td>
    <td>邮箱</td>
    <td>服务项目</td>
    <td>收费</td>
    <td>到款情况</td>
    <td>服务状态</td>

</tr>

    <tr th:each="orderCustomer:${orderCustomerList}">
<!--        <input type="hidden" th:field="${customer.id}" />-->
        <td th:text="${orderCustomer.get('orderNumber')}"></td>
        <td th:text="${orderCustomer.get('orderDate')}"></td>
        <td th:text="${orderCustomer.get('name')}"></td>
        <td th:text="${orderCustomer.get('linkMan')}"></td>
        <td th:text="${orderCustomer.get('email')}"></td>
        <td th:text="${orderCustomer.get('serviceProject')}"></td>
        <td th:text="${orderCustomer.get('charge')}"></td>
        <td th:text="${orderCustomer.get('moneySituation')}"></td>
        <td th:text="${orderCustomer.get('serviceStatus')}"></td>
        <td>
<!--            <button class="btn" th:onclick="window.location.href='editOrderInfo'">修改该客户信息</button>-->
<!--            <button class="btn" th:onclick="window.location.href='editOrderInfo?Id='+[[${orderCustomer.get('Id')}]]">修改该客户信息</button>-->
            <button class="btn" th:onclick="window.location.href='editOrderInfo?Id='+[[${orderCustomer.get('Id')}]] +'&order.orderId='+[[${orderCustomer.get('orderId')}]]">修改该客户信息</button>
        </td>
    </tr>
</table>
<div class='text1' style="text-align: center">
<button class="btn" th:onclick="window.location.href='addNewOrderShow'">新增订单</button>
</div>


</body>
</html>