<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angus.dao.mapper.UserMapper">


    <resultMap id="baseResultMap" type="com.angus.dao.pojo.User">
        <id column="id" property="id" />
        <result column="userName" property="userName" />
        <result column="passWord"  property="passWord" />
        <result column="rightLevel"  property="rightLevel" />
    </resultMap>

    <!--    通过用户名和密码获取用户  登陆用户  -->
    <select id="getUserByNameAndPassword" resultMap="baseResultMap">
        SELECT * FROM user where userName=#{userName} and passWord=#{passWord}
    </select>

    <!--    根据id查询用户信息    -->
    <select id="getUserById" resultMap="baseResultMap">
        SELECT * FROM user where Id=#{Id}
    </select>

    <!--    根据id更新用户信息    -->
    <select id="updateUserById" >
        UPDATE user set Id=#{Id},userName=#{userName},passWord=#{passWord},rightLevel=#{rightLevel} where Id=#{Id}
    </select>
    <!--    根据id删除用户信息    -->
    <select id="deleteUserById" >
        delete from user where Id=#{Id}
    </select>




</mapper>